In [25]:
import pandas as pd

In [26]:
k_drama = {
	"name": ["Healer", "Extraordinary Attorney Woo", "Tunnel", "Law School", "Descendant of the sun"],
	"rating": [8.5, 10.0, 7.5, 7.0, 9.0] # Pretending data / Mock data. 
}

In [27]:
k_drama_data = pd.DataFrame(k_drama)
print(k_drama_data)

                         name  rating
0                      Healer     8.5
1  Extraordinary Attorney Woo    10.0
2                      Tunnel     7.5
3                  Law School     7.0
4       Descendant of the sun     9.0

In [28]:
# Add new column to dataframe. 
k_drama_data["channel"] = ["KBS2", "ENA", "OCN", "JTBC", "KBS2"]
print(k_drama_data)

                         name  rating channel
0                      Healer     8.5    KBS2
1  Extraordinary Attorney Woo    10.0     ENA
2                      Tunnel     7.5     OCN
3                  Law School     7.0    JTBC
4       Descendant of the sun     9.0    KBS2

In [29]:
# Drop a column from dataframe. 
k_drama_data = k_drama_data.drop("rating", axis=1)
print(k_drama_data)

                         name channel
0                      Healer    KBS2
1  Extraordinary Attorney Woo     ENA
2                      Tunnel     OCN
3                  Law School    JTBC
4       Descendant of the sun    KBS2

In [30]:
# Drop a row from dataframe.
k_drama_data = k_drama_data.drop(0, axis=0)
print(k_drama_data)

                         name channel
1  Extraordinary Attorney Woo     ENA
2                      Tunnel     OCN
3                  Law School    JTBC
4       Descendant of the sun    KBS2

In [31]:
# Reset Index from dataframe's row. 
k_drama_data = k_drama_data.reset_index(drop = True)
print(k_drama_data)

                         name channel
0  Extraordinary Attorney Woo     ENA
1                      Tunnel     OCN
2                  Law School    JTBC
3       Descendant of the sun    KBS2

In [32]:
k_drama_data["ratings"] = [3.07, 0.05, 1.12, 3.50]
print(k_drama_data)

                         name channel  ratings
0  Extraordinary Attorney Woo     ENA     3.07
1                      Tunnel     OCN     0.05
2                  Law School    JTBC     1.12
3       Descendant of the sun    KBS2     3.50

In [35]:
list(k_drama_data.columns)

['name', 'channel', 'ratings']

In [37]:
k_drama_data.columns = ["Name", "Channel", "Rating"]
print(k_drama_data)

                         Name Channel  Rating
0  Extraordinary Attorney Woo     ENA    3.07
1                      Tunnel     OCN    0.05
2                  Law School    JTBC    1.12
3       Descendant of the sun    KBS2    3.50

In [40]:
k_drama_data["Name"]
print(type(k_drama_data["Name"]))

<class 'pandas.core.series.Series'>

In [43]:
new_drama = pd.Series(["Twenty Five, Twenty One", "tvN", 2.48], index=["Name", "Channel", "Rating"])
print(new_drama)

Name       Twenty Five, Twenty One
Channel                        tvN
Rating                        2.48
dtype: object

In [45]:
k_drama_data = k_drama_data.append(new_drama, ignore_index=True)
print(k_drama_data)

                         Name Channel  Rating
0  Extraordinary Attorney Woo     ENA    3.07
1                      Tunnel     OCN    0.05
2                  Law School    JTBC    1.12
3       Descendant of the sun    KBS2    3.50
4     Twenty Five, Twenty One     tvN    2.48

In [46]:
year_release = pd.Series([2022, 2016, 2021, 2016, 2022])
k_drama_data["Year"] = year_release
print(k_drama_data)

                         Name Channel  Rating  Year
0  Extraordinary Attorney Woo     ENA    3.07  2022
1                      Tunnel     OCN    0.05  2016
2                  Law School    JTBC    1.12  2021
3       Descendant of the sun    KBS2    3.50  2016
4     Twenty Five, Twenty One     tvN    2.48  2022

In [50]:
k_drama_data.to_csv("K_Drama.csv")