In [1]:
import numpy as np
import pandas as pd

In [16]:
score = pd.Series([20, 90, 30, 70, 80, 50, 40])
score

0    20
1    90
2    30
3    70
4    80
5    50
6    40
dtype: int64

In [18]:
grade = np.where(score >= 80, "A", "D")
print(grade)

['D' 'A' 'D' 'D' 'A' 'D' 'D']

In [19]:
penguins = pd.read_csv("data/penguins.csv")

In [20]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [27]:
df = penguins.query("island == 'Torgersen'")[["species", "island", "body_mass_g"]].dropna().head(10)

In [29]:
df['isBig'] = np.where(df['body_mass_g'] >= 4000, True, False)
df

   species     island  body_mass_g  isBig
0   Adelie  Torgersen       3750.0  False
1   Adelie  Torgersen       3800.0  False
2   Adelie  Torgersen       3250.0  False
4   Adelie  Torgersen       3450.0  False
5   Adelie  Torgersen       3650.0  False
6   Adelie  Torgersen       3625.0  False
7   Adelie  Torgersen       4675.0   True
8   Adelie  Torgersen       3475.0  False
9   Adelie  Torgersen       4250.0   True
10  Adelie  Torgersen       3300.0  False